.banner {
	position: relative;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	&--80 {
		height: 80vh;
	}
	&__bg {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center bottom;
		height: 100%;
		width: 100%;
	}
	&__inner {
		height: 100%;
	}
	&__content {
		@include breakpoint(medium down) {
			margin-top: 100px;
		}
		h1 {
			font-family: "Rubik-Regular";
			font-style: normal;
			font-weight: 500;
			font-size: 40px;
			line-height: 47px;
			color: #ffffff;
			margin: 0 0 16px;
			@include breakpoint(medium down) {
				font-size: 32px;
			}
		}
		p {
			font-family: "Rubik-Regular";
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			letter-spacing: 0.02em;
			color: #ffffff;
		}
		&-form {
			margin: 32px 0 0;
			.wpcf7-not-valid-tip {
				display: none;
			}
			.form__input {
				margin: 0;
			}
		}
	}
	&__image {
		margin-bottom: -10%;
	}
}

.form__input {
	margin: 0;
	&-text {
		height: 48px;
		width: 300px;
		padding: 0 0 0 15px;
		border: 1px solid #FFFFFF;
		box-sizing: border-box;
		box-shadow: 0px 4px 10px rgba(23, 32, 42, 0.15);
		border-radius: 24px 0 0 24px;
		font-family: "Rubik-Regular";
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.02em;
		color: rgba(23, 32, 42, 0.25);
		@include box-shadow(0 1rem 2rem rgba(23, 32, 42, 0.15));
		@include breakpoint(medium down) {
			border-radius: 24px;
			margin: 0 0 20px !important;
		}
		
	}
	&-submit {
		background: #017BDE;
		border-radius: 0px 24px 24px 0px;
		height: 49px;
		width: 148px;
		font-family: "Rubik-Regular";
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.02em;
		color: #ffffff;
		-webkit-appearance: none;
		-moz-appearance: none;
		border: 0;
		margin-left: -5px;
		@include breakpoint(medium down) {
			border-radius: 24px;
			padding: 0 0 0 15px;
		}
	}
}
