.column-content {
	position: relative;
	&__container {
		position: relative;
	}
	&__item-container {
		&:first-child {
			.column-content__item {
				border-bottom: 4px solid #EC0769;
				a {
					color: #EC0769;
				}
				.column-content__btn-arrow {
					background-image: url(../images/icon-arrow-1.png);
					background-repeat: no-repeat;
					background-position: 90px center;
				}
			}
		}
		&:nth-child(2) {
			.column-content__item {
				border-bottom: 4px solid #017CDE;
				a {
					color: #017CDE;
				}
				.column-content__btn-arrow {
					background-image: url(../images/icon-arrow-2.png);
					background-repeat: no-repeat;
					background-position: 90px center;
				}
			}
		}
		&:nth-child(3) {
			.column-content__item {
				border-bottom: 4px solid #17202A;
				a {
					color: #17202A;
				}
				.column-content__btn-arrow {
					background-image: url(../images/icon-arrow-3.png);
					background-repeat: no-repeat;
					background-position: 90px center;
				}
			}
		}
		&:nth-child(4) {
			.column-content__item {
				border-bottom: 4px solid #EC7D10;
				a {
					color: #EC7D10;
				}
				.column-content__btn-arrow {
					background-image: url(../images/icon-arrow-4.png);
					background-repeat: no-repeat;
					background-position: 90px center;
				}
			}
		}
	}
	&__item {
		position: relative;
		background: #FFFFFF;
		box-shadow: 0px 10px 32px rgba(23, 32, 42, 0.15);
		border-radius: 8px;
		padding: 24px 32px 50px;
		margin: 0 0 40px;
		&-content {
			padding-left: 16px;
			h3 {
				font-family: "Rubik-Regular";
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 28px;
				letter-spacing: 0.02em;
				color: #17202A;
				margin: 0 0 22px;
			}
			p {
				font-family: "Rubik-Regular";
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 0.02em;
				color: #647282;
				margin: 0 0 4rem;
			}
			a {
				font-family: "Rubik-Bold";
				font-style: normal;
				font-size: 14px;
				line-height: 24px;
			}
		}
		.column-content__btn-arrow {
			position: absolute;
			width: 50%;
			bottom: 10%;
			@include breakpoint(medium down) {
				position: relative;
				width: 100%;
			}

		}
		&-image {
			@include breakpoint(medium down) {
				text-align: center;
				margin: 0 0 10px;
			}
		}
	}
}
