.hero {
	margin: 48px auto;
	position: relative;
	h2 {
		font-family: "Rubik-Bold";
		font-style: normal;
		font-size: 40px;
		line-height: 47px;
		text-align: center;
		color: #17202A;
		margin: 0 0 16px;
	}
	p {
		font-family: "Rubik-Regular";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.02em;
		color: #17202A;
	}
	.wpcf7-not-valid-tip {
		display: none;
	}
	.form__input {
		margin: 0;
	}
	.wpcf7-response-output {
		color: #17202A;
		&.wpcf7-validation-errors {
			color: #ff0000 !important;
		}
	}
}
