.button {
	background: #017CDE;
	border-radius: 2.4rem;
	font-family: "Rubik-Regular";
	font-size: 1.6rem;
	color: $white;
	text-align: center;
	line-height: 1;
	padding: 1.4rem 4rem;
	@include box-shadow(0 1rem 2rem rgba(23, 32, 42, 0.24));
}

.button-play {
	display: inline-block;
	background-color: rgba($purple,0.5);
	border-radius: 50%;
	position: relative;
	width: 9rem;
	height: 9rem;
	@include transition(all 0.5s ease-out);

	&:hover {
		opacity: 1;
	}

	&::before {
		content: '';
	border-top: 1.5rem solid transparent;
	border-right: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
	border-left: 2.5rem solid $white;
	position: absolute;
	top: 50%;
	left: 60%;
		@include transform(translate(-50%,-50%));
	}
}

.button-close {
	display: inline-block;
	background-color: $purple;
	border-radius: 50%;
	position: relative;
	width: 4rem;
	height: 4rem;
	@include transition(all 0.5s ease-out);

	&:hover {
		opacity: 1;
	}

	&::before {
		content: '';
		background-color: $white;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 60%;
		height: 0.3rem;
		@include transform(translate(-50%,-50%) rotate(45deg));
	}

	&::after {
		content: '';
		background-color: $white;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 60%;
		height: 0.3rem;
		@include transform(translate(-50%,-50%) rotate(-45deg));
	}
}

.button-with-play {
	background-color: $purple;
	border-radius: 2.8rem;
	position: relative;
	font-family: $font-urwdin-medium;
	font-size: 1.6rem;
	color: $white;
	text-align: center;
	line-height: 1;
	padding: 1.6rem 5rem 1.4rem 2.5rem;

	&::after {
		content: '';
		background: url('../images/ico_play-circle.svg');
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 50%;
		right: 2rem;
		width: 1.8rem;
		height: 1.8rem;
		@include transform(translateY(-50%));
	}
}