// Colors 

$black: #000000;
$purple: #7B2063;
$white: #FFFFFF;

// Fonts

$font-mont-blk: 'Mont-Black', Helvetica, sans-serif;
$font-mont-bold: 'Mont-Bold', Helvetica, sans-serif;
$font-mont-book: 'Mont-Book', Helvetica, sans-serif;
$font-mont-extralight: 'Mont-ExtraLight', Helvetica, sans-serif;
$font-mont-hairline: 'Mont-HairLine', Helvetica, sans-serif;
$font-mont-heavy: 'Mont-Heavy', Helvetica, sans-serif;
$font-mont-light: 'Mont-Light', Helvetica, sans-serif;
$font-mont-regular: 'Mont-Regular', Helvetica, sans-serif;
$font-mont-semibold: 'Mont-SemiBold', Helvetica, sans-serif;
$font-mont-thin: 'Mont-Thin', Helvetica, sans-serif;
$font-urwdin-medium: 'URWDIN-Medium', Helvetica, sans-serif;